<div class="row row-offcanvas row-offcanvas-right" ng-controller="AdminController as model">
    <div class="container table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Email</th>
                    <th>Paypal email</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in model.users">
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}} </td>
                    <td>{{user.paypalemail}} </td>
                    <td>{{user.roles}}</td>
                    <td>
                        <button ng-click="model.removeUser(user._id)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button  class="btn btn-danger">
                           <a href="#/adminpostview/{{user._id}}">See Blogs/Initiatives</a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

</div>
