 <div class="container blogs" ng-controller="BlogsController">

     <h1 class="page-header">
         Featured Blogs
         <small>Thoughts with a difference</small>
     </h1>
   <div class="row" ng-repeat="blog in model.blogs">
                <!-- First Blog Post -->
                <h2>
                    <a href="#">{{blog.title}}</a>
                </h2>
                <p class="lead">
                    by {{model.author}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{blog.created}}</p>
                <hr>
                    {{blog.content}}
                <hr>
                 <a class="btn btn-primary" href="#"> Comments <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>   
	</div>
</div>