.navbar-default .navbar-brand {
  font-style: oblique;
  color: lightgreen;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: #FFFF99;
    }
/*.navbar-default .navbar-nav > li > a:focus {*/
  /*background-color: #FFFF99;*/
    /*color: black;*/
/*}*/

/*.menu-default{*/
  /*top: 10px;*/
  /*background-color: #00A47B;*/
  /*border-color: #003366;*/
  /*color: black*/
/*}*/

/*.menu-default .navbar-nav > li > a {*/
  /*font-size: 15px;*/
    /*color: black;*/
/*}*/
/*.menu-default .navbar-nav > li > a:hover,*/
/*.menu-default .navbar-nav > li > a:focus {*/
  /*background-color: #FFFF99;*/
    /*color: saddlebrown;*/
/*}*/

div .image-custom{
   width: 100%;  
}

div .aboutus{
  color: black;
}

div #register{
  color: black;
  padding-top: 5%;
}

div #login{
    color: black;
   padding-top: 15%
}


.carousel .item {
    top: 0;
    height: 600px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

.carousel h4 {
    font-style: italic;
    right:10px;
    bottom:50px;
    left:10px;
    font-size: 8mm;
    text-shadow: 2px 2px 4px #000000;
}


div #aboutus{
    padding: 20px;
    font-style: italic;
    color: lightgoldenrodyellow;
}

.panel-body {
    color: black;
    background:#FFFF99;}

.card {

    background-color: #FFFF99;
    color: black;
    box-shadow: 5px 5px lightgreen;
}


div #view-header{
    color : lightgoldenrodyellow;
    font-style: oblique;
}

div #toppadding{
    padding-top: 5%;
}

div .favpadding{
    padding-top: 5%;
    font-size: medium;
}

.jumbotron {
    background-color: lightgoldenrodyellow;
    color : black;
}



