.navbar-brand{
    font-style: oblique;
}

div .custom-padding{
  padding: 25px 0px 0px 20px;
}

div .plus-padding{
  padding: 25px 0px 0px 64px;
}

div .image-custom{
  height: 500px;
  width: 600px
}

.navbar-default{
  background-color: black;
  border-color: #003366;
  color: white
}

.navbar-default .navbar-brand {
  color: lightgreen;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #FFFF99;
    color: black;
}

.menu-default{
  top: 10px;
  background-color: #00A47B;
  border-color: #003366;
  color: black
}

.menu-default .navbar-nav > li > a {
  font-size: 15px;
    color: black;
}
.menu-default .navbar-nav > li > a:hover,
.menu-default .navbar-nav > li > a:focus {
  background-color: #FFFF99;
    color: saddlebrown;
}

div .image-custom{
   width: 100%;  
}

div .aboutus{
  color: black;
}

div #register{
  color: black;
  padding-top: 10%

}

div #login{
   padding-top: 15%
}


div .blogs{
  color: black;
  }

.btn-primary{
 background-color: #00A47B;
  border-color: black ;
  border-width: 5px;
  color: black
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: yellowgreen;
}

.boxed {
  border: 5px solid darkturquoise;
}

.dropdown-menu{
  background-color: #00A47B
}

.blog1{
  padding:20px;
  background-color: #FFFF99;
}

.blog2{
  top :20px;
  background-color: lightsalmon;
}

.initiative1{
  padding:20px;
  background-color: #FFFF99;
}

.initiative2{
  top :20px;
  background-color: lightsalmon;
}

.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.commentList {
    padding: 5px;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:10px;
    margin-top:2px;
}
.commentList li > div {
    display:table-cell;
}

.commentText{
  padding:10px;
}

.carousel .item {
    top: 0;
    height: 600px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 600px;
}

.carousel h4 {
    font-style: italic;
    right:10px;
    bottom:50px;
    left:10px;
    font-size: 8mm
}


div #aboutus{
    padding: 20px;
    font-style: italic;
    color: lightgoldenrodyellow;
}

.panel-body {
    background:#FFFF99;}

.card {

    background-color: #FFFF99;
    color: black;
    box-shadow: 5px 5px lightgreen;
}


div #view-header{
    padding-top: 5%;
    color : lightgoldenrodyellow;
    font-style: oblique;
}

