.navbar-default .navbar-brand {
  font-style: oblique;
  color: lightgreen;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: #FFFF99;
    }

div .aboutus{
  color: black;
}

div #register{
  color: black;
  padding-top: 5%;
}

div #login{
   color: black;
   padding-top: 10%
}

/*.carousel .item {*/
    /*height: 650px;*/
    /*background-color: inherit*/
/*}*/
/*.carousel img {*/
    /*height: 650px;*/
    /*width:100%*/
/*}*/

.carousel h4 {
    font-style: italic;
    font-size: 8mm;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

div #aboutus{
    padding: 20px;
    font-style: italic;
    color: lightgoldenrodyellow;
}
div .eachcard{
    padding: 10px 10px ;
}

.panel-title{
    font-size: large;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.panel-body {
    color: black;
    background:#FFFF99;}

.card {
    background-color: #FFFF99;
    color: black;
    box-shadow: 10px 10px black;

}

.card-block{
    padding: 5px 10px ;
}

.card-title {
    font-size: x-large;
}


div #view-header{
    color : lightgoldenrodyellow;
}

div #view-small{
    color : white;
    font-style: italic;
}

div #toppadding{
    padding-top: 5%;
}

div .favpadding{
    padding-top: 5%;
    font-size: medium;
}


div .crop{
    width:100%;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

 /*unvisited link */
.card-block a:link, a:visited {
    color: black;
    font-style: italic;
}

/* mouse over link */
.card-block a:hover {
    color: darkblue;
}

/* selected link */
.card-block a:active {
    color: darkgreen;
}

a.btn {
    color: white;
    font-style: normal;
}

a.tablelink {
    color: white;
    font-style: normal;
}

.label{
    font-size: medium;
}

.jumbotron{
    background-color: #FFFF99;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

div .success{
    padding-top: 20px;
    color: white;
    font-style: oblique;
}
 div .intro{
    text-align: justify;
    text-justify: inter-word;
}


