<div class=" container blogs" ng-controller="RegBlogController as model">
    <h1 id = "view-header" class="page-header">
        My Blogs
    </h1>
    <div class="row" ng-repeat="blog in model.blogs">

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{blog.title}}</h4>
                <p class="card-text">  by {{model.author}}</p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{blog.created}}</p>
                <p class="card-text"> {{blog.content}}</p>
                <hr>
                <p class="card-text"> Likes Comments</p>
                <a href="#" class="btn btn-info">See Blog</a>
            </div>
        </div>
        <!-- First Blog Post -->

    </div>
   <div class="row" ng-repeat="blog in model.blogs">
                <h1 class="page-header">

                    <small>Thoughts with a difference</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#">{{blog.title}}</a>
                </h2>
                <p class="lead">
                    by {{model.author}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{blog.created}}</p>
                <hr>
                    {{blog.content}}
                <hr>
                 <a class="btn btn-primary" href="#"> Comments <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>   
	</div>
    <div class = "row">
          <form class="form-horizontal">
               <div class="form-group">
                   <label for="inputText" class="col-sm-3 control-label">Blog Title:</label>
                      <div class="col-sm-6">
                          <input ng-model="model.newblog.title" type="text" class="form-control" id="inputText" placeholder="Enter your blog title here">
                      </div>
              </div>
			   <div class="form-group">
                   <label for="inputText" class="col-sm-3 control-label">Blog post content:</label>
                      <div class="col-sm-6">
                          <input ng-model="model.newblog.content" type="text" class="form-control" id="inputText" placeholder="Enter your blog post here">
                      </div>
              </div>
               <div class="form-group">
                   <div class="col-sm-offset-3 col-sm-6">
                        <a ng-click="model.createBlog(model.newblog)" class="btn btn-primary btn-lg btn-block" role="button">Create Blog</a>
                  </div>
             </div>
    </div>
</div>
