<div class="blogs">
	<h2> Your Blogs: </h2>
	<div class="blog1">
	<h3> Why you should recycle in your backyard </h4>
	<h4> Compost is organic material that can be added to soil to help plants grow. Food scraps and yard waste currently make up 20 to 30 percent of what we throw away, and should be composted instead. Making compost keeps these materials out of landfills where they take up space and release methane, a potent greenhouse gas.</h6>
	<div class="row">
		<div class = "col-md-3">
			<h3> Author: Alice Wonderland </h3>
	     <h4> 21
	    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <button type="button" class="btn btn-primary">Like</button>
		</h4>
	</div>
	</div>
	 <div class=" row actionBox">
		<h3> Comments: </h3>
        <ul class="commentList">
            <li>
                <div class="commentText">
                    <p class="">Great Blog!</p> <span class="date sub-text">on March 5th, 2014 By Becky Green</span>

                </div>
            </li>
            <li>
                <div class="commentText">
                    <p class="">I will do my bit.</p> <span class="date sub-text">on March 5th, 2014 By Michael Jackson</span>

                </div>
            </li>
            <li>
                    <div class="form-group">
                  <label for="inputPassword" class="col-sm-3 control-label">Comment:</label>
                      <div class="col-sm-12">
                          <input ng-model="initiative.comment" type="text" class="form-control" id="inputComment" placeholder="Add your comment">
                      </div>
              </div>
            </li>
         </div>    
   </div>
   <button type="button" class="btn btn-primary">Edit this post</button>
</div>
