<div class="initiative1">
	<h3> Clean Communitey project </h4>
	<h4> A community is democratic only when the humblest and weakest person can enjoy the highest civil, economic, and social rights that the biggest and most powerful possess.	
 -A Philip Randolph quotes.
 Come support my cause!!!  .</h6>
	<div class="row">
		<div class = "col-md-3">
			<h3> Author: Alice Wonderland </h3>
	       <h4>
             Money raised: $250
        </h4>
	</div>
	</div>
	 <div class=" row actionBox">
		<h3> Comments: </h3>
        <ul class="commentList">
            <li>
                <div class="commentText">
                    <p class="">Would love to help</p> <span class="date sub-text">on March 13th, 2014 By Becky Green</span>

                </div>
            </li>
            <li>
                <div class="commentText">
                    <p class="">are you looking for volunteers></p> <span class="date sub-text">on April 5th, 2015 By Michael Jackson</span>

                </div>
            </li>
            <li>
                    <div class="form-group">
                  <label for="inputPassword" class="col-sm-3 control-label">Comment:</label>
                      <div class="col-sm-12">
                          <input ng-model="initiative.comment" type="text" class="form-control" id="inputComment" placeholder="Add your comment">
                      </div>
              </div>
            </li>
         </div>    
         <button type="button" class="btn btn-primary">Edit this post</button>
   </div>