<div class=" container blogs" ng-controller="RegInitiativeController as model">
    <div class = "row">
        <div class = "col-lg-6">
   <div class="initiativesuser row" ng-repeat="initiative in model.initiatives">
                <h1 class="page-header">
                   My Initiatives
                    <br>
                    <small>Affecting Change..</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#/initiative/{{initiative._id}}">{{initiative.title}}</a>
                    <a ng-click="model.goToUpdate(initiative)" class="btn btn-warning pull-right"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="model.deleteInitiative(initiative._id)" class="btn btn-danger pull-right"> <span class="glyphicon glyphicon-remove"></span></a>
                </h2>
                <p class="lead">
                    by {{initiative.founder.founderName}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{initiative.created | date:'MMM dd,yyyy At HH:mm'}}</p>
                <hr>
                    {{initiative.content}}
                <hr>

	</div>
            </div>
        <div class = "col-lg-3 pull-right">
            <br>
            <br>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Initiatives..</h3>
                </div>
                <div class="panel-body">
                    <form role="search">
                        <div class="form-group">
                            <input ng-model="model.searchString" type="text" class="form-control" placeholder="By Title or Founder">
                        </div>
                        <button ng-click= "model.search(model.searchString)" type="submit" class="btn btn-success">Search</button>
                    </form>
                </div>
            </div>
            <br>
            <a href="#/createinitiative" class="btn btn-warning">Start a new Initiative..</a>
        </div>
    </div>


</div>
