<div class=" container blogs" ng-controller="RegInitiativeController as model">
   <div class="row" ng-repeat="initiative in model.initiatives">
                <h1 class="page-header">
                   My Blogs
                    <small>Thoughts with a difference</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#">{{initiative.title}}</a>
                </h2>
                <p class="lead">
                    by {{model.author}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{initiative.created}}</p>
                <hr>
                    {{initiative.content}}
                <hr>
                 <a ng-click="model.update()" class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>   
	</div>
    <div class = "row">
          <form class="form-horizontal">
               <div class="form-group">
                   <label for="inputText" class="col-sm-3 control-label">Initiative Title:</label>
                      <div class="col-sm-6">
                          <input ng-model="model.newinitiative.title" type="text" class="form-control" id="inputText" placeholder="Enter your initiative title here">
                      </div>
              </div>
			   <div class="form-group">
                   <label for="inputText" class="col-sm-3 control-label">Initiative post content:</label>
                      <div class="col-sm-6">
                          <input ng-model="model.newinitiative.content" type="text" class="form-control" id="inputText" placeholder="Enter your initiative description here">
                      </div>
              </div>
               <div class="form-group">
                   <div class="col-sm-offset-3 col-sm-6">
                        <a ng-click="model.createInitiative(model.newinitiative)" class="btn btn-primary btn-lg btn-block" role="button">Create Initiative</a>
                  </div>
             </div>
    </div>
</div>
