<div class="container " ng-controller="BlogsController">
    <div class="jumbotron">
        <h1>{{model.blog.title}}</h1>
        <p>by {{model.blog.author.authorName}}</p>
        <br>
        <p>Posted on {{model.blog.created}}</p>
        <hr>
        <br>
        <p>{{model.blog.content}}</p>
        <hr>
        <div class="row">
        <h4> {{model.like.count}}</h4>
            <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
        </div>
        <h4> Comments: </h4>
        <table class="table table-striped table-hover">
            <tr ng-model = "model.event.newReviews">
                <td>
                    <input ng-model="model.newcommentc.content" type="text" class="form-control" id="inputText" placeholder="Add a Comment..">
                </td>

                <td>
                    <button ng-click="model.addComment()" type="submit" class="btn btn-info">Add Comment</button>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in model.blog.comments">
                <td><pre>{{comment.content}}
                    -- by comment.name</pre></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>