<div class = "container" ng-controller="InitiativeCreateController">
    <div class = "well">
    <form class="form-horizontal">
        <div class="form-group has-success">
            <label for="inputText" class="col-sm-3 control-label">Initiative Title:</label>
            <div class="col-sm-6">
                <input ng-model="model.newinitiative.title" type="text" class="form-control" id="inputText" placeholder="Enter your initiative title here">
            </div>
        </div>
        <div class="form-group has-success">
            <label for="textArea" class="control-label">Initiativte post Content: </label>
            <textarea ng-model="model.newinitiative.content" class="form-control" rows="5" id="textArea" placeholder="Enter your initiative description here"></textarea>
        </div>
        <div class="form-group has-success">
            <label for="inputNumber" class="col-sm-3 control-label">Target funds:</label>
            <div class="col-sm-6">
                <input ng-model="model.newinitiative.targetFunds" type="number" class="form-control" id="inputNumber" placeholder="Enter your target fund amount here">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <a ng-click="model.createInitiative(model.newinitiative)" class="btn btn-success btn-lg btn-block" role="button">Create Initiative</a>
            </div>
        </div>
    </form>
</div>
</div>