<div ng-controller="HomeController as model">
  <carousel interval="model.myInterval">
    <slide ng-repeat="slide in model.slides" active="slide.active">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <h4>{{slide.caption}}</h4>
      </div>
    </slide>
  </carousel>
</div>

<div id = "aboutus" align="center">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="./images/Initiative.jpg" width="140" height="140">
        <h2>Funding for initiatives</h2>
        <p> Have an idea or project but need funding? Tell people about your initiative and watch our users help you reach your target fund</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="./images/Blog.jpg" width="140" height="140">
        <h2>Blogging for a change</h2>
        <p> Post blogs and shed light on important issues, raise awareness and give a voice to those that need to be heard!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="./images/Donate.jpg"  width="140" height="140">
        <h2>Looking to Donate?</h2>
        <p> Look through  our initiatives and if you are interested in supporting one, transfer  money immediately using your paypal account</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>