 <div class="container initiatives" ng-controller="InitiativesController">
   <div class="row" ng-repeat="intiative in model.intiatives">
                <h1 class="page-header">
                   Featured Initiatives
                    <small>Be a part of the Change</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#">{{initiative.title}}</a>
                </h2>
                <p class="lead">
                    by {{model.author}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{initiative.created}}</p>
                <hr>
                    {{initiative.content}}
                <hr>
                 <a class="btn btn-primary" href="#"> Fund Me <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>   
	</div>
</div>