<div ng-controller="InitiativesController">
    <div ng-class="model.mainToggleClass">

        <div ng-class="model.sideBarToggleClass" ng-show="model.toggleShow">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">Search Initiatives</h3>
                </div>
                <div class="panel-body">
                    <form role="search">
                        <div class="form-group">
                            <input ng-model="model.searchString" type="text" class="form-control" placeholder="By Title or Founder">
                        </div>
                        <button ng-click= "model.search(model.searchString)" type="submit" class="btn btn-success">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class = "intro col-xs-12">
            <p class="pull-right ">
                <button type="button" class="btn btn-success" ng-click="model.toggle()">Search Initiatives</button>
            </p>
            <div class="well">
                <h1 id = "view-header" class="page-header">
                    Featured Initiatives
                    <br>
                    <small id = "view-small">Support the Changemakers..</small>
                </h1>
                <div class="eachcard row" ng-repeat="initiative in model.initiatives| orderBy:'-collectedFunds'| startFrom:model.currentPage*model.pageSize | limitTo:model.pageSize">

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title"><a class="posts" href="#/initiative/{{initiative._id}}">{{initiative.title}}</a></h4>
                            <p class="card-text"> <label> by </label>{{initiative.founder.founderName}}</p>
                            <p class="card-text"><label>Posted on </label> {{initiative.created | date:'MMM dd,yyyy At HH:mm'}}</p>
                            <p class="card-text"><label>Collected Funds: </label> ${{initiative.collectedFunds}}</p>
                            <p class="card-text"><label>Target Amount:</label> ${{initiative.targetFunds}}</p>
                            <hr>
                            <p class="crop card-text"> {{initiative.content}} </p>
                            <hr>
                            <div>
                                <p class="card-text"><label>Comments received: </label> {{initiative.comments.length}}</p>
                                <a href="#/initiative/{{initiative._id}}" class="btn btn-success">Learn more and fund</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- First Blog Post -->

                </div>
                <br>
                <div ng-if="model.initiatives!=0" class="row pull-right">
                    <button class = "btn btn-warning btn-sm" ng-disabled="model.currentPage == 0" ng-click="model.currentPage=model.currentPage-1">
                        Previous
                    </button>
                    {{model.currentPage+1}}/{{model.numberOfPages()}}
                    <button class = "btn btn-warning btn-sm" ng-disabled="model.currentPage >= model.initiatives.length/model.pageSize - 1" ng-click="model.currentPage=model.currentPage+1">
                        Next
                    </button>
                </div>
                <br>
            </div>
        </div>
    </div>



</div>

















