<nav class="navbar navbar-default navbar-fixed-top " ng-controller="HeaderController as model">
      <div ng-if="!user" class="container-fluid">
         <div  class="navbar-header">
             <a class="navbar-brand" href="#">OneWorldCare</a>
         </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li ng-class="{'active' : $location.url()=='/home'}"><a href="#/home"> Home </a></li>
                  <li ng-class="{'active' : $location.url()=='/blogs'}"><a href="#/blogs"> Blogs </a></li>
                  <li ng-class="{'active' : $location.url()=='/Initiatives'}"><a href="#/initiatives"> Initiatives </a></li>
              </ul>
              <form class="navbar-form navbar-right">

                      <div class="form-group">
                          <input ng-model="model.user.email" type="text" placeholder="Email" class="form-control">
                      </div>
                      <div class="form-group">
                          <input ng-model="model.user.password" type="password" placeholder="Password" class="form-control">
                      </div>
                      <a ng-click="model.login()" class="btn btn-success"> Sign in</a>
                      <a href="#/register" class="btn btn-success">Sign Up</a>
               </form>
              </div>

        </div>


    <div ng-if="user" class="container-fluid">
        <div  class="navbar-header">
            <a class="navbar-brand" href="#">OneWorldCare</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li ng-class="{'active' : $location.url()=='/home'}"><a href="#/home"> Home </a></li>
                <li ng-class="{'active' : $location.url()=='/blogs'}"><a href="#/blogs"> Blogs </a></li>
                <li ng-class="{'active' : $location.url()=='/Initiatives'}"><a href="#/initiatives"> Initiatives </a></li>
                <li> <a href ="#/help"> How Can I Help?</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Me<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/myblogs">My blogs</a></li>
                        <li><a href="#/myinitiatives">My Initiatives</a></li>
                        <li><a href="#/profile">My profile</a></li>
                    </ul>
                </li>
                <li><a href="#/home">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>