<div class = "favpadding container" ng-controller = "FavoritesController as model">
    <div class="row">
        <div class = "col-lg-6">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr class="danger">
                      <th>Blogs you have liked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="blog in model.blogs">
                        <a href="#/blog/{{blog._id}}">{{blog.title}}</a>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "col-lg-6">
            <table class="table table-striped table-hover ">
                <thead>
                <tr class="danger">
                    <th>Initiatives you have funded</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="initiative in model.initiatives">
                    {{initiative.title}}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
