<div class = "container" ng-controller="BlogUpdateController">
<div class = "well">
    <form class="form-horizontal">
        <div class="form-group has-warning">
            <label class="control-label" for="inputWarning1">Blog Title:</label>
            <input ng-model="model.blog.title" type="text" class="form-control" id="inputWarning1" placeholder="{{model.blog.title}}">
        </div>
        <div class="form-group has-warning">
            <label for="textArea1" class="control-label">Blog Content: </label>
            <textarea ng-model="model.blog.content" class="form-control" rows="5" id="textArea1" placeholder="{{model.blog.content}}"></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <a ng-click="model.updateBlog(model.blog)" class="btn btn-warning btn-lg btn-block" role="button">Update Blog</a>
            </div>
        </div>
    </form>
</div>
</div>