<div class="container-fluid" style="padding-top: 20px" ng-controller="UserHomeController">
    <div class= "row">
        <div class = "col-lg-6">
            <h2> Hello {{model.user.firstname}}!! </h2>
            <h3> Hi! OneWorldCare is proud to have you on our website.
                Feel free to post blogs and initiatives
                Wish you all the success in your endeavours!
            </h3>
        </div>
        <div class = "col-lg-3 pull-right" style="left: 10px">
            <div class= "row">
                <a class="btn btn-primary btn-lg btn-warning" role="button" href="#/myblogs">My BlogSpace</a>
            </div>
            </br>
            </br>
            <div class= "row">
                <a class="btn btn-primary btn-lg btn-success" role="button" href="#/myinitiatives">My Initiatives</a>
            </div>
        </div>
    </div>
</div>
